extends layout

block content
    body
    .m-4
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          a.navbar-brand(href='#')
           img(src='/images/montreal-canadiens.svg' height='45' alt='All About Habs')
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse')
            span.navbar-toggler-icon
          #navbarCollapse.collapse.navbar-collapse
            .navbar-nav
              a.nav-item.nav-link.active(href='#') Home
              a.nav-item.nav-link(href='#') Profile
              a.nav-item.nav-link(href='#') Messages
              a.nav-item.nav-link.disabled(href='#' tabindex='-1') Reports
            .navbar-nav.ms-auto
              a.nav-item.nav-link(href='#') Login
      ul.list-group
      - var num = length
      table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') First
            th(scope='col') Jersey Number
            th(scope='col') Position
            th(scope='col') Goals
            th(scope='col') Games
            th(scope='col') Hits
            th(scope='col') powerPlayGoals
            th(scope='col') powerPlayPoints
            th(scope='col') powerPlayTimeOnIce
            th(scope='col') evenTimeOnIce
            th(scope='col') penaltyMinutes
            th(scope='col') faceOffPct
            th(scope='col') gameWinningGoals
            th(scope='col') overTimeGoals
            th(scope='col') shortHandedGoals
            th(scope='col') shortHandedPoints
            th(scope='col') shortHandedTimeOnIce
            th(scope='col') plusMinus
            th(scope='col') points
            th(scope='col') shifts
            th(scope='col') timeOnIcePerGame
            th(scope='col') sevenTimeOnIcePerGamehifts
            th(scope='col') shortHandedTimeOnIcePerGame
            th(scope='col') powerPlayTimeOnIcePerGame
            
        tbody
        - for (var i = 0; i < num; ++i) {
          tr
            th(scope='row') #{i}
            td #{fname[i].person.fullName}
            td #{fname[i].jerseyNumber}
            td #{fname[i].position.code}
            td #{playerGoals[i]}
        -}
        

      



  
     
 
